.education-container {
    padding: 48px 216px 0 216px;
}

.education-title {
    display: flex;
    align-items: center;
}

.education-title img {
    width: 200px;
}

.education-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -45px
}

.education-info p {
    margin-top: -14px;
}


/* TECH STACK */

.tech-stack-container {
    padding: 56px 0;
    padding-bottom: 68px;
}

.tech-stack {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.tech-stack img {
    margin: 0 21px;
}

.skills-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.skill {
    padding: 10px 21px;
    border-radius: 30px;
    margin: 0 16px 26px 0;
    font-weight: bold;
}

.indicators {
    display: flex;
    gap: 18px;
}

.area-indicator {
    display: flex;
    align-items: center;
}

.area-indicator hr {
    margin: 0 12px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

/* FULLSTACK */

.area-indicator.fullstack hr, .skill.fullstack {
    border: 3px solid var(--fullstack);
    color: var(--fullstack);
}


.area-indicator.fullstack hr, .skill.fullstack:hover {
    background-color: var(--fullstack);
}

/* FULLSTACK END */

/* FRONTEND */

.area-indicator.frontend hr, .skill.frontend {
    border: 3px solid var(--frontend);
    color: var(--frontend);
}


.area-indicator.frontend hr, .skill.frontend:hover {
    background-color: var(--frontend);
}

/* FRONTEND END*/

/* BACKEND */

.area-indicator.backend hr, .skill.backend {
    border: 3px solid var(--backend);
    color: var(--backend);
}


.area-indicator.backend hr, .skill.backend:hover {
    background-color: var(--backend);
}

/* BACKEND END*/


.skill.fullstack:hover, .skill.frontend:hover, .skill.backend:hover {
    color: var(--background);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.skill.fullstack, .skill.frontend, .skill.backend {
    transition: 0.1s;
}

@media (max-width: 1170px) {
    .tech-stack {
        flex-direction: column;
        justify-content: center;
    }

    .tech-stack h2, .indicators {
        align-self: flex-start;
    }

    .tech-stack h2 {
        margin-bottom: 0;
    }

    .tech-stack .star {
        display: none;
    }
}

@media (max-width: 980px) {
    .education-title img {
        width: 30%;
    }

    .education-info p {
        margin: 0;
        font-size: 16px;
    }
}

@media (max-width: 880px) {
    .education-container {
        display: flex;
        flex-direction: column;
        align-content: center;
        padding: 0;
    }

    .education-title hr {
        display: none;
    }

    .education-title {
        gap: 28px;
        justify-content: space-between;
        padding: 0 20%;

    }

    .education-info p {
        /* margin-top: -30px;
        line-height: 55px; */
    }

    .education-info {
        margin-top: -5%;
        padding-right: 20%;
    }

    .tech-stack-container {
        justify-content: center;
        padding: 56px 20%;
    }

    .area-indicator p {
        font-size: 16px;
    }

    .skill {
        font-size: 14px;
        margin: 0 16px 16px 0;
    }
}

@media (max-width: 750px) {

    .indicators {
        display: flex;
        gap: 18px;
    }

    .area-indicator {
        margin: 0;
    }
}


@media (max-width: 630px) {
    .education-title img {
        width: 25%;
    }

    .education-info {
        margin-top: -3%;
    }
}