@import url("../../index.css");

.header-content {
    display: flex;
    justify-content: space-between;
    padding: 48px 216px;
}

/* HEADER LEFT */

.header-left {
    align-self: flex-end;
}

.socials {
    display: flex;
    gap: 16px
}

.socials img {
    width: 52px;
    height: 52px;
}

.socials a {
    cursor: pointer;
    transition: 0.1s linear;
    margin-bottom: 21px;
}

.socials a:hover {
    transform: scale(1.1) /* rotate(5deg) */;
    /* margin-top: -5px; */
    /* BOOKMARK: are we really 100% happy with this animation? */
}

.name-intro {
    display: flex;
    flex-direction: column;
}

.name-intro p {
    font-size: 31px;
    margin: 0;
}

.name-intro p span {
    margin: 0 14px;
}

.name-intro h1 {
    font-size: 110px;
    margin: -10px 0 0 0;
}

.name-intro p, .name-intro h1, nav a {
    color: var(--red-secondary);
}

/* HEADER LEFT END */
/* //////////////////////////////////////// */
/* HEADER RIGHT */

.header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.logo {
  animation: logo-spin infinite 20s linear;
  display: block;
  width: 250px;
}

.logo-container {
  position: relative;
  display: inline-block;
  margin-bottom: 52px;
}

.logo-star {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-46%, -51%);
  width: 150px;
}

.nav {
    display: flex;
    gap: 48px;
}

.nav a {
    text-decoration: none;
    font-size: 21px;
    transition: 0.1s linear;
    margin-bottom: -15px;
}

.nav a:hover {
    font-weight: bold;
    margin-left: -3px;
}

.menu-icon {
    display: none;
}

@media (max-width: 1400px) {
    .nav {
        display: none;
    }

    .menu-icon {
        display: flex;
        cursor: pointer;
        margin-bottom: -18px;
        margin-right: 12px;
        position: relative;
    }

    .mobile-nav {
        display: none;
    }

    .mobile-nav.clicked {
        display: flex;
        flex-direction: column;
        width: 236px;
        padding: 36px 0;
        gap: 0;
        border-radius: 18px;
        position: absolute;
        top: 400px;
        z-index: 3;
        background-color: rgba(251, 242, 242, 0.7);
        backdrop-filter: blur(8px);
        overflow: hidden;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;    
    }

    .mobile-nav.clicked a {
        width: 102%;
        /* padding-left: 28px; */
        color: var(--red-primary);
        margin-bottom: 0;
        padding: 12px 0 12px 28px;
        border-bottom: 2px solid var(--red-primary);
    }

    .mobile-nav.clicked a:first-child {
        border-top: 2px solid var(--red-primary);
    }

    /*   .mobile-nav.clicked a:hover {
        font-weight: normal;
        margin-left: 0;
        
    } */
}
/* HEADER RIGHT END */

@media (max-width: 1350px) {
    
  .name-intro p {
    font-size: 21px;
  }

  .name-intro h1 {
    font-size: 78px;
  }

  .socials {
    gap: 12px;
    margin-bottom: -8px;
  }

  .socials img {
    width: 48px;
  }

  .menu-icon {
    width: 36px;
    margin-bottom: -12px;
  }

  .logo-container {
    transform: scale(0.8);
    margin-right: -12px;
    margin-bottom: 18px;
  }

  .mobile-nav.clicked {
    transform: scale(0.9);
    top: 350px;
  }
} 

@media (max-width: 940px) {
    .header-content {
        padding: 0 20% 48px 20%;
    }

    .name-intro p {
        font-size: 18px;
        margin-bottom: 4px;
    }

    .name-intro h1 {
        font-size: 68px;
    }

    .socials img {
        width: 42px;
    }

    .menu-icon {
        width: 32px;
        margin-bottom: -12px;
    }

      .logo-container {
        transform: scale(0.6);
        margin-right: -24px;
        margin-bottom: 2px;
    }

    .mobile-nav.clicked {
        transform: scale(0.8);
        top: 280px;
    }
}