@import url("../../index.css");

.about-me-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 16px 0; */
    padding: 16px 0;
}

.blurb1 {
    width: 600px;
    margin-left: 102px;
}

.about-me-text {
    margin: 0 216px 0 0 /* 36px */;
    max-width: 600px;
    position: relative;
    width: 50%;
    min-width: 300px;
}

.about-me-text h2 {
    text-align: end;
}

.about-me-text p {
    text-align: justify;
}

.about-me-header {
    display: flex;
    align-items: center;
}

.lang-img {
    width: 68px;
    opacity: 0.5;
    position: absolute;
    transform: translateY(60%);
    transition: 0.2s;
}

.lang-img:hover {
    opacity: 1;
    cursor: pointer;
}

@media (max-width: 1350px) {
    .about-me-text p {
        font-size: 16px;
    }

    .lang-img {
        width: 48px;
        margin-top: 6px;
    }

    .blurb1 {
        width: 495px;
    }
}

@media (max-width: 1145px) {
    .about-me-container {
        flex-direction: column;
    }

    .blurb1 {
        margin: 0;
        order: 2;
        width: 60%;
        min-width: 300px;
    }

    .about-me-text {
        width: 60%;
        margin: 0;
    }
}